.wrapper {
    max-width: 350px;
    margin: 0 auto;

    @media screen and (min-width: $break-desktop) { 
        
        max-width: inherit;
        width: 1200px; 
        height: 100%;   
        display: grid;        
        justify-content: center;
        align-content: center;
        grid-template-areas: "box-primary box-primary"
                            "box-second  box-third";
        grid-template-rows: 30% 35%;
        grid-template-columns: 26% 26%;
    }

    .box {
        width: 100%;
        padding: 1.8rem 1.4rem;
        margin: 0 auto;
        
        h2 {
            font-size: 1.2rem;
        }

        h3 {
            font-size: 1rem;
        }

        &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

            @media screen and (min-width: $break-desktop) {            
                border-bottom-left-radius: 0; 
            }   
        }

        @media screen and (min-width: $break-desktop) {            
            max-width: inherit;   
            padding: 2rem 2rem;

            &:nth-child(2) {
                border-bottom-left-radius: 5px; 
            }
        }   
    }

    .box-primary {        
        background-color: $color-white;
        grid-area: box-primary;

        h2 {
            color: $color-cyan;
        }
        
        h3 {
            margin: 1.5rem 0;
            color: $color-bright-yellow;
        }

        p {
            line-height: 1.7rem;
            color: $color-grayish-blue;
        }
    }

    .box-second {        
        background-color: $color-cyan;
        grid-area: box-second;

        h1, h2, p {
            color: $color-white;
        }

        h2 {
            margin-bottom: 1rem;
        }

        .box__price {
            display: flex;
            align-items: center;

            span {
                margin-left: .5rem;
                color: $color-light-gray;
            }
        }

        p {
            margin-top: .5rem;
            margin-bottom: 1.5rem;
            font-size: .9rem;
        }

        .box__button {
            border: none;
            border-radius: 5px;
            width: 100%;
            padding: 1rem;
            box-shadow: 5px 10px 15px rgba(0,0,0,0.2);
            background-color: $color-bright-yellow;
            font-size: .9rem;
            font-weight: 700;
            color: $color-white;

            &:hover {
                cursor: pointer;
                background-color: lighten($color-bright-yellow,10);
            }
        }
    }

    .box-third {        
        background-color: lighten($color-cyan, 5);
        padding-right: 8rem;
        grid-area: box-third;

        h2 {
            margin-bottom: 1.5rem;
            color: $color-white;
        }

        p {
            line-height: 1.4rem;
            font-size: .9rem;
            color: $color-light-gray
        }

        @media screen and (min-width: $break-desktop) {   
            padding-right: 5rem;
        } 
    }   
}

